# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django
*.log
db.sqlite3
/static/
media/

# Environment variables
.env.prod

# IDE and system files
.vscode/
.idea/
.DS_Store

# Migrations (optional to ignore initially)
# **/migrations/
